.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    }
    .container{
    display: flex;
    align-items: center;
    }
    .imagem1, .frase1{
    padding: 1em;
    }
    .titulo1, .frase1{
    display:none;
    }




    @media  screen and (min-width:820px) {
        .titulo1, .titulo1--negrito {
        font-size: 30px;
    }

.titulo1{
    font-weight: 400;
    display: block;
}
 }
 @media screen and (min-width:1024px) {
    .frase1{
        padding-left: 5em;
        font-size: 20px;
        display: block;
    }
 }
