@import url(styles/header.css);
:root{
--cor-de-fundo:  #F9E2C7;
--cor-cabecalho: #DF98A7;
color: aliceblue;
}
body{
background-color: var(--cor-de-fundo);
margin: 0;
padding: 0;
}

.cabecalho{
    background-color: var(--cor-do-cabecalho);
    padding: 1em;
    display: flex;
    align-items: center;
    }

    .imagem1{
    padding: 1em;
    max-width:fit-content;
    min-width: fit-content;
    scrollbar-width: fit-content;
    width: max-content;
    }
  
 .lista{
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: #382b2e4b;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px;
    padding-left: 5em;
    border-color: #DF98A7;
    border-width: 30px;
    border-style: double;
 }
 .imagess{
    width: 40%;
 }

 .imagem4{
    width: 40%;
 }
